@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-black
}

body {
  @apply font-sans
}

button {
  @apply py-2 px-3 border-2 border-red-300 rounded-lg text-2xl font-light transition duration-500 ease-in-out hover:scale-105
}

input {
  @apply p-2 pl-4 w-[85vw] md:w-[500px] rounded-lg
}

label {
  @apply mt-4 
}